<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Razer Blade 15</li>
        </ol>
    </nav>

    <div class="product-detail">
        <div class="product-detail-top">
            <h1>Razer Blade 15 i7-8750H RAM 16GB SSD 512GB FHD GTX1060</h1>
        </div>
        <div class="product-detail-middle row has-top-border">
            <div class="fit-content col-lg-5">
                <carousel [noPause]="false">
                    <slide>
                        <img src="assets/images/razer-blade-15-1.jpg" alt="First slide"
                            style="display: block; width: 100%;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                    <slide>
                        <img src="assets/images/razer-blade-15-2.jpg" alt="Second slide"
                            style="display: block; width: 100%;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                    <slide>
                        <img src="assets/images/razer-blade-15-3.jpg" alt="Third slide"
                            style="display: block; width: 100%;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="fit-content col-lg-4">
                <h4 class="price"><b>39.000.000 đ</b></h4>
                <div class="qua-tang">
                    <ul>
                        <li>Balo laptop chính hãng (chi tiết)</li>
                        <li>Vệ sinh máy, tra keo tản nhiệt</li>
                        <li>Cài đặt phần mềm miễn phí</li>
                        <li>Hỗ trợ giao hàng toàn quốc (Hỗ trợ COD)</li>
                        <li>Cân chỉnh màu sắc màn hình miễn phí bằng Spyder 5 Elite</li>
                        <li>Hỗ trợ sao lưu dữ liệu miễn phí, nhanh chóng</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div class="btn btn-muangay col" routerLink="/order">Mua ngay
                        <div class="btn-desc">Hỗ trợ COD T.Quốc</div>
                    </div>
                    <div class="btn btn-tragop col">Trả góp
                        <div class="btn-desc">Thủ tục nhanh</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-status">Tình trạng: còn hàng</div>
                <div class="warranty">
                    <p>Khi mua có: Dây nguồn, sách hướng dẫn, thùng máy, adapter</p>
                    <p>Bảo hành 12 tháng tại HUFLIT&nbsp;<a href="#">Xem
                            chi tiết</a></p>
                    <p>1 đổi 1 trong 15 ngày đầu tiên Hoặc hoàn tiền 100% <a href="#">Xem
                            chi tiết</a></p>
                </div>
                <div class="contact">
                    <div class="contact-detail text-center">
                        <a href="javascript:;">Tham gia Group Facebook</a>
                        <a class="btn" href="https://www.facebook.com/groups/ThinkCare" target="_blank"><i
                                class="fa fa-facebook"></i>Cộng đồng khách hàng</a>
                        <div class="sdt">
                            <h1><i class="fa fa-phone"></i><strong style="font-size: 18px"> 1900.63.3579</strong></h1>
                        </div>
                        <div class="address">
                            <p style="cursor: pointer;"><span>HN:</span> 105/562 Đường Láng, Đống Đa</p>
                            <p style="cursor: pointer;"><span>HN:</span> 69 Phố Vọng, Phường Đồng Tâm, Quận Hai Bà
                                Trưng, TP.Hà Nội</p>
                            <p style="cursor: pointer;"><span>TP.HCM:</span> 62 Duy Tân, P15, Phú Nhuận</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specs">
        <div class="specs-title">Thông số kĩ thuật</div>
        <div class="specs-content">
            <ul class="parameter list-unstyled">
                <li class="ts_5">
                    <span class="lable-ts">CPU:</span>
                    <div>Intel Core i7-8750H 2.20 GHz, 9 MB SmartCache Cache, Upto 4.10 GHz</div>
                </li>
                <li class="ts_6">
                    <span class="lable-ts">RAM:</span>
                    <div>16GB DDR4 2666MHz</div>
                </li>

                <li class="ts_7">
                    <span class="lable-ts">Ổ cứng:</span>
                    <div>512GB SSD</div>
                </li>
                <li class="ts_1">
                    <span class="lable-ts">Màn hình:</span>
                    <div>15.6 inch FHD (1920 x 1080), IPS Anti-Glare</div>
                </li>
                <li class="ts_2">
                    <span class="lable-ts">Card màn hình:</span>
                    <div>Nvidia GTX 1060 6GB</div>
                </li>
                <li class="ts_2">
                    <span class="lable-ts">Cổng giao tiếp:</span>
                    <div>3 Cổng USB 3.1
                        1 Cổng Thunderbolt 3
                        1 Cổng Mini Display Port
                        1 Cổng HDMI</div>
                </li>
                <li class="ts_2">
                    <span class="lable-ts">Kích thước:</span>
                    <div>355mm x 235mm x 19.9mm</div>
                </li>
                <li class="ts_2">
                    <span class="lable-ts">Trọng lượng:</span>
                    <div>2.03 kg</div>
                </li>
                <li class="ts_2">
                    <span class="lable-ts">Hệ điều hành:</span>
                    <div>Windows 10</div>
                </li>
            </ul>
        </div>
    </div>
</div>