<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Trang quản lý</h1>
        </div>
        <!-- Cards -->
        <div class="card-deck py-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Số người dùng truy cập</h5>
                    <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Số lượng sản phẩm theo nhãn hiệu</h5>
                    <div style="display: block;">
                        <canvas baseChart width="400" height="400" [data]="pieChartData" [labels]="pieChartLabels"
                            [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Số lượng sản phẩm bán được trong tuần</h5>
                    <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tổng doanh thu trong tuần</h5>
                    <h4 class="card-title">$1,060,386</h4>
                    <div style="display: block;">
                        <canvas baseChart height="300px" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Statistic -->
        <div class="row py-3">
            <div class="col-lg-9">
                <h2 class="m-b-25">Lợi nhuận theo sản phẩm</h2>
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-striped">
                        <thead>
                            <tr>
                                <th>date</th>
                                <th>order ID</th>
                                <th>name</th>
                                <th class="text-right">price</th>
                                <th class="text-right">quantity</th>
                                <th class="text-right">total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2018-09-29 05:57</td>
                                <td>100398</td>
                                <td>Lenovo ThinkPad X395</td>
                                <td class="text-right">$999.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$999.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-28 01:22</td>
                                <td>100397</td>
                                <td>HP Zbook 15 G1</td>
                                <td class="text-right">$756.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$756.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-27 02:12</td>
                                <td>100396</td>
                                <td>Dell Inspiron 7590</td>
                                <td class="text-right">$22.00</td>
                                <td class="text-right">2</td>
                                <td class="text-right">$44.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-26 23:06</td>
                                <td>100395</td>
                                <td>Razer Blade 15</td>
                                <td class="text-right">$1199.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$1199.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-25 19:03</td>
                                <td>100393</td>
                                <td>LG GRAM</td>
                                <td class="text-right">$10.00</td>
                                <td class="text-right">3</td>
                                <td class="text-right">$30.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-29 05:57</td>
                                <td>100392</td>
                                <td>Lenovo Legion Y545</td>
                                <td class="text-right">$199.00</td>
                                <td class="text-right">6</td>
                                <td class="text-right">$1494.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-24 19:10</td>
                                <td>100391</td>
                                <td>Asus ZenBook Pro UX580GD</td>
                                <td class="text-right">$699.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">$699.00</td>
                            </tr>
                            <tr>
                                <td>2018-09-22 00:43</td>
                                <td>100393</td>
                                <td>Dell Alienware Area-51M</td>
                                <td class="text-right">$10.00</td>
                                <td class="text-right">3</td>
                                <td class="text-right">$30.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="title-1 m-b-25">Top khu vực đặt hàng</h2>
                <div class="m-b-40">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-top-countries">
                                <tbody>
                                    <tr>
                                        <td>United States</td>
                                        <td class="text-right">$119,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>Australia</td>
                                        <td class="text-right">$70,261.65</td>
                                    </tr>
                                    <tr>
                                        <td>United Kingdom</td>
                                        <td class="text-right">$46,399.22</td>
                                    </tr>
                                    <tr>
                                        <td>Turkey</td>
                                        <td class="text-right">$35,364.90</td>
                                    </tr>
                                    <tr>
                                        <td>Germany</td>
                                        <td class="text-right">$20,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>France</td>
                                        <td class="text-right">$10,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>Australia</td>
                                        <td class="text-right">$5,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>Italy</td>
                                        <td class="text-right">$1639.32</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>