.force-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 200px;
}

th {
    white-space: nowrap;
}

.table-scroll-fixed-head {
    overflow-y: auto; 
    height: 800px;
}

.table-scroll-fixed-head thead th {
    position: sticky;
    top: 0;
    background: white;
}

.img-thumbnail {
    cursor: pointer;
}

th.text-center {
    z-index: 1;
}

.album {
    width: 200px;
}
