<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <!-- Button -->
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Danh sách đơn hàng</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseOrder" type="button" class="btn btn-sm btn-outline-secondary">Tạo đơn
                        hàng</button>
                </div>
            </div>
        </div>
        <div id="collapseOrder" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="well well-lg card card-block card-header">
                <h3>Tạo đơn hàng</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-7">
                        <form id="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                            <div class="info-customer">
                                <div class="cart-title">Thông tin đơn hàng</div>
                                <hr>
                                <fieldset class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input formControlName="isMale" class="form-check-input" name="isMale"
                                            type="radio" [value]="true" id="nam">
                                        <label class="form-check-label" for="nam">Anh</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input formControlName="isMale" class="form-check-input" name="isMale"
                                            type="radio" [value]="false" id="nu">
                                        <label class="form-check-label" for="nu">Chị</label>
                                    </div>
                                </fieldset>
                                <div class="form-row mt-2">
                                    <div class="form-group col-md-6">
                                        <input formControlName="fullName" type="text" class="form-control"
                                            name="fullName" id="fullName" placeholder="Họ và tên">
                                        <div *ngIf="orderForm.get('fullName').touched && !orderForm.get('fullName').valid"
                                            class="invalid-feedback">
                                            Họ và tên không hợp lệ
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input (keypress)="onValidate($event)" formControlName="phoneNumber" type="tel"
                                            class="form-control" name="phoneNumber" id="phoneNumber"
                                            placeholder="Số điện thoại">
                                        <div *ngIf="orderForm.get('phoneNumber').touched && !orderForm.get('phoneNumber').valid"
                                            class="invalid-feedback">

                                            Số điện thoại không hợp lệ
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input formControlName="email" type="email" class="form-control" name="email"
                                            id="email" placeholder="Email">
                                        <div *ngIf="orderForm.get('email').touched && !orderForm.get('email').valid"
                                            class="invalid-feedback">

                                            Email không hợp lệ
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input formControlName="option" type="text" class="form-control" name="option"
                                            id="yeucaukhac" placeholder="Yêu cầu khác (Không bắt buộc)">
                                    </div>
                                </div>

                            </div>

                            <div class="info-ship">
                                <div class="form-check form-check-inline">
                                    <input formControlName="isReceivedAtStore" class="form-check-input"
                                        name="isReceivedAtStore" type="radio" [value]="false" id="diachigiaohang"
                                        (change)="onShipping()" checked=true>
                                    <label class="form-check-label" for="diachigiaohang">Địa chỉ giao hàng</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input formControlName="isReceivedAtStore" class="form-check-input"
                                        name="isReceivedAtStore" type="radio" [value]="true" id="taicuahang"
                                        (change)="onReceivedAtStore()">
                                    <label class="form-check-label" for="taicuahang">Nhận tại cửa hàng</label>
                                </div>
                                <div *ngIf="!this.orderForm.get('isReceivedAtStore').value" class="diachigiaohang"
                                    style="display: block;">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input formControlName="shippingCity" type="text" class="form-control"
                                                name="shippingCity" id="shippingCity" placeholder="Tỉnh/Thành phố">
                                            <div *ngIf="orderForm.get('shippingCity').touched && !orderForm.get('shippingCity').valid"
                                                class="invalid-feedback">
                                                Thành phố không hợp lệ
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input formControlName="shippingDistrict" type="text" class="form-control"
                                                name="shippingDistrict" id="shippingDistrict" placeholder="Quận/Huyện">
                                            <div *ngIf="orderForm.get('shippingDistrict').touched && !orderForm.get('shippingDistrict').valid"
                                                class="invalid-feedback">
                                                Quận không hợp lệ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-100">
                                        <div class="form-group col-md-12">
                                            <input formControlName="shippingAddress" class="form-control"
                                                placeholder="Số nhà, tên đường, phường/xã" id="shippingAddress"
                                                type="text" name="shippingAddress">
                                            <div *ngIf="orderForm.get('shippingAddress').touched && !orderForm.get('shippingAddress').valid"
                                                class="invalid-feedback">
                                                Địa chỉ không hợp lệ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="option[]"
                                            value="Yêu cầu nhân viên hỗ trợ kỹ thuật đi giao hàng">
                                        <label class="form-check-label">Yêu cầu nhân viên hỗ trợ kỹ thuật đi giao
                                            hàng</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="option[]"
                                            value="Cà thẻ khi nhận hàng">
                                        <label class="form-check-label">Cà thẻ khi nhận hàng</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="option[]"
                                            value="Xuất hóa đơn công ty">
                                        <label class="form-check-label">Xuất hóa đơn công ty</label>
                                    </div>
                                </div>
                                <div *ngIf="this.orderForm.get('isReceivedAtStore').value" class="diachicuahang">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address"
                                            value="Số 105 ngõ 562 đường Láng, P. Láng Hạ, Q. Đống Đa, Hà Nội">
                                        <label class="form-check-label">Số 105 ngõ 562 đường Láng, P. Láng Hạ, Q. Đống
                                            Đa,
                                            Hà
                                            Nội</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address"
                                            value="69 Phố Vọng, Phường Đồng Tâm, Quận Hai Bà Trưng, TP.Hà Nội">
                                        <label class="form-check-label">69 Phố Vọng, Phường Đồng Tâm, Quận Hai Bà Trưng,
                                            TP.Hà
                                            Nội</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address"
                                            value="Số 62 Duy Tân, Phường 15, Q. Phú Nhuận, TP HCM">
                                        <label class="form-check-label">Số 62 Duy Tân, Phường 15, Q. Phú Nhuận, TP
                                            HCM</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="option[]"
                                            value="Xuất hóa đơn công ty">
                                        <label class="form-check-label">Xuất hóa đơn công ty</label>
                                    </div>
                                </div>
                            </div>

                            <div class="group-action d-flex align-items-center justify-content-between">
                                <button [disabled]="!this.orderForm.valid || !this.cartItems.length"
                                    class="btn btn-default btn-muangay mr-2 w-100" type="submit" name="order_send">

                                    Tạo đơn hàng</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 cart-gray">
                        <div class="cart-title">Giỏ hàng</div>
                        <ul *ngIf="cartItems.length" class="list-order list-unstyled">
                            <li class="order-item" *ngFor="let cartItem of cartItems">
                                <div class="d-flex">
                                    <div class="col-image">
                                        <img class="img-fluid" [src]="cartItem.thumbnailUrl"
                                            [alt]="cartItem.productName">
                                        <div (click)="onDeleteCartItem(cartItem)" class="delete_product"><i
                                                class="fa fa-trash mr-1" aria-hidden="true"></i>Xóa</div>
                                    </div>

                                    <div class="col-info">
                                        <div class="product-name"><a [routerLink]="['/detail/', cartItem.productId]"
                                                target="_blank">{{cartItem.productName}}</a></div>
                                    </div>
                                    <div class="col-price">
                                        <div class="price">{{cartItem.pricePerUnit | number}} đ</div>
                                        <div class="choosequantity">
                                            <button class="btn btn-danger btn-qty" [disabled]="cartItem.quantity<1"
                                                (click)="onChangeQuantity(cartItem, -1)">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input disabled class="text-center num-product" type="number"
                                                name="num-product" value={{cartItem.quantity}}>
                                            <button class="btn btn-success btn-qty"
                                                (click)="onChangeQuantity(cartItem, 1)">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div *ngIf="!cartItems.length" class="list-order text-center">
                            <h5 class="text-danger mt-4">Giỏ hàng trống, vui lòng thêm sản phẩm để tạo đơn hàng!</h5>
                            <button (click)="openModalWithProductOrderComponent()"
                                class="btn btn-primary mt-4 btn-tragop w-50">Thêm sản phẩm</button>
                        </div>
                        <hr>
                        <div class="total-price">
                            <label>Tổng tiền:</label>
                            <div *ngIf="cartItems.length" class="total-price-value">{{ onTotal(cartItems) | number }}đ
                            </div>
                            <div *ngIf="!cartItems.length" class="total-price-value">0đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6>Tổng số đơn hàng: {{ orders?.length }}</h6>
        <div *ngIf="!isFetching" class="row py-3">
            <div class="table-responsive table-scroll-fixed-head m-b-40">
                <table class="table table-hover">
                    <thead class="thead-custom">
                        <tr>
                            <th class="inline-text">Ngày đặt hàng</th>
                            <th class="inline-text">Mã đơn hàng</th>
                            <!-- <th class="inline-text">Mã tài khoản đặt hàng</th> -->
                            <th class="inline-text">Họ tên người đặt</th>
                            <!-- <th class="inline-text">Số điện thoại</th>
                            <th class="inline-text">Email liên hệ</th>
                            <th class="inline-text">Địa chỉ</th> -->
                            <th class="inline-text">Giỏ hàng</th>
                            <th class="inline-text text-right">Tổng cộng</th>
                            <th>Tình trạng</th>
                            <th style="z-index: 1;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td>{{order.placedTime | date:'dd/MM/yyyy h:mm:ss a'}}</td>
                            <td class="text-center">
                                <p class="order-link rounded" (click)="openModalWithOrderDetailComponent(order)">
                                    {{order.id}}</p>
                            </td>
                            <!-- <td class="text-center">{{ order.userId ? order.userId : 'Khách hàng không đăng nhập' }}</td> -->
                            <td class="inline-text" *ngIf="order.isMale">Anh: <b>{{order.fullName}}</b></td>
                            <td class="inline-text" *ngIf="!order.isMale">Chị: <b>{{order.fullName}}</b></td>
                            <!-- <td>{{ order.phoneNumber }}</td>
                            <td>{{ order.email }}</td>
                            <td *ngIf="!order.isReceivedAtStore">
                                {{ order.shippingAddress + ' ' + order.shippingDistrict + ' ' + order.shippingCity}}
                            </td>
                            <td *ngIf="order.isReceivedAtStore">{{ order.shippingAddress }}</td> -->
                            <td>
                                <div class="inline-text" *ngFor="let item of order.orderDetails">
                                    <b class="text-info">{{item.productShortName}}</b><b> x {{ item.quantity }} máy </b>
                                    <b>|</b> <b> Giá bán lẻ:</b><b class="p-1 text-info">
                                        {{ item.pricePerUnit | number}}đ/máy</b>
                                </div>
                            </td>
                            <td class="text-right">
                                <div *ngFor="let item of order.orderDetails">
                                    = {{ item.pricePerUnit * item.quantity | number }} đ
                                </div>
                                <hr>
                                <b class="inline-text">Thành tiền: </b><b
                                    class="inline-text text-danger">{{onTotal(order.orderDetails) | number }} đ</b>
                            </td>
                            <td class="inline-text">
                                <div [ngClass]="renderClass(order.orderStatus)">{{ order.orderStatus }}</div>
                            </td>
                            <td class="btn-group">
                                <button (click)="openModalWithOrderDetailComponent(order)" class="btn btn-item">
                                    <i class="fa fa-eye fa-lg"></i>
                                </button>

                                <button (click)="openModalWithExportInvoiceComponent(order)" class="btn btn-item">
                                    <i class="fa fa-print fa-lg"></i>
                                </button>

                                <button (click)="onDeleteOrder(order)" class="btn btn-item">
                                    <i class="fa fa-close fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row py-3" *ngIf="isFetching">Loading...</div>
        <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </main>
</div>