<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="row py-3">
            <h2 class="m-b-25">Đơn hàng</h2>
            <hr>
            <div class="btn-toolbar mb-2 mb-md-0">
                <h6 class="">Hôm nay: {{date | date: 'EEEE dd/MM/yyyy'}}</h6>
            </div>
            <div class="table-responsive m-b-40">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="inline-text">Ngày đặt hàng</th>
                            <th class="inline-text">Mã đơn hàng</th>
                            <th class="inline-text">Họ tên người đặt</th>
                            <th class="inline-text">Số điện thoại</th>
                            <th class="inline-text">Email</th>
                            <th class="inline-text">Địa chỉ</th>
                            <th class="inline-text">Giỏ hàng</th>
                            <th class="inline-text text-right">Giá tiền</th>
                            <th class="inline-text text-right">Số lượng</th>
                            <th class="inline-text text-right">Tổng cộng</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td class="inline-text">{{order.placedTime | date:'E dd/MM/yyyy h:mm:ss a'}}</td>
                            <td class="text-center">{{order.id}}</td>
                            <td *ngIf="order.isMale">Anh: {{order.fullName}}</td>
                            <td *ngIf="!order.isMale">Chị: {{order.fullName}}</td>
                            <td>{{ order.phoneNumber }}</td>
                            <td>{{ order.email }}</td>
                            <td *ngIf="!order.isReceivedAtStore">{{ order.shippingAddress + ' ' + order.shippingDistrict + ' ' + order.shippingCity}}</td>
                            <td *ngIf="order.isReceivedAtStore">{{ order.shippingAddress }}</td>
                            <td>
                                <div class="inline-text" *ngFor="let item of order.orderDetails">
                                    <b>{{item.productName}}</b> | Số lượng: {{ item.quantity }}
                                </div>
                            </td>
                            <td class="text-right">$999.00</td>
                            <td class="text-right">1</td>
                            <td class="text-right">$999.00</td>
                            <td style="white-space: nowrap;" class="text-success">{{ order.orderStatus }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>