<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table table-hover">
        <thead>
            <th>Tên sản phẩm</th>
            <th>Giá bán lẻ</th>
            <th class="inline-text">Hình ảnh</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let item of listProducts">
                <td>{{item.productShortName}}</td>
                <td>
                    <div class="price text-white text-center bg-info border border-info rounded p-1">{{item.price | number}}đ</div>
                </td>
                <td>
                    <img class="img-thumbnail" [src]="item.images[0].url" alt="image">
                </td>
                <td>
                    <input type="checkbox" (change)="onChecked(item)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onConfirm()">Xác nhận</button>
    <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Đóng</button>
</div>