<div class="container">
    <carousel>
        <slide>
            <img src="assets/images/banner-1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <!-- <slide>
            <img src="assets/images/banner-2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/banner-3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide> -->
    </carousel>

    <div class="suggestions">

        <p>Một số gợi ý dưới đây có thể giúp bạn tìm sản phẩm nhanh hơn...</p>
        <ul class="suggestions-list-inline">
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-acer.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-alienware.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-apple.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-asus.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-dell.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-hp.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-lenovo.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-microsoft.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-msi.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-razer.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-thinkpad.png" alt=""></a></li>
        </ul>
    </div>

    <div class="filter-price">
        <label class="filter-price-title">Chọn mức giá:</label>
        <ul class="filter-price-list-inline">
            <li class="filter-price-item"><a href="#">Dưới 10 triệu</a></li>
            <li class="filter-price-item"><a href="#">10 - 15 triệu</a></li>
            <li class="filter-price-item"><a href="#">15 - 25 triệu</a></li>
            <li class="filter-price-item"><a href="#">Trên 25 triệu</a></li>
        </ul>
    </div>

    <div class="products has-top-border">
        <h6 class="products-title">Laptop</h6>
        <div class="block-content row">
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
            <div class="products-item"></div>
        </div>
    </div>
</div>