<div class="container">
    <carousel>
        <slide>
            <img src="assets/images/banner-1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/banner-2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/banner-3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <div class="suggestions">
        <p>Một số gợi ý dưới đây có thể giúp bạn tìm sản phẩm nhanh hơn...</p>
        <ul class="suggestions-list-inline">
            <li *ngFor="let brand of showBrands" class="suggestions-list-item"><a href="#"><img [src]="brand.image.url" [alt]="brand.brandName"></a></li>
            <!-- <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-alienware.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-apple.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-asus.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-dell.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-hp.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-lenovo.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-microsoft.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-msi.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-razer.png" alt=""></a></li>
            <li class="suggestions-list-item"><a href="#"><img src="assets/images/logo-thinkpad.png" alt=""></a></li> -->
        </ul>
    </div>

    <div class="filter-price">
        <label class="filter-price-title">Chọn mức giá:</label>
        <ul class="filter-price-list-inline">
            <li class="filter-price-item"><a href="#">Dưới 10 triệu</a></li>
            <li class="filter-price-item"><a href="#">10 - 15 triệu</a></li>
            <li class="filter-price-item"><a href="#">15 - 25 triệu</a></li>
            <li class="filter-price-item"><a href="#">Trên 25 triệu</a></li>
        </ul>
    </div>

    <div class="product has-top-border">
        <h6 class="product-type">Laptop</h6>
        <div class="block-content row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-xs-2 row-cols-2">
            <div class="product-item my-2" *ngFor="let item of onePageArray">
                <div [routerLink]="['/detail', item.id]" class="mx-2 shadow">
                    <a class="product-thumbnail">
                        <img *ngIf="haveThumbnail(item.images)" [src]="loadThumbnail(item.images)" alt="product">
                        <p *ngIf="!haveThumbnail(item.images)">Chưa có hình ảnh</p>
                    </a>
                    <div class="product-info">
                        <h6 class="product-title"><a [routerLink]="['/detail', item.id]">{{ item.productShortName }}</a></h6>
                        <h5 class="price">{{ item.price | number}} đ</h5>
                        <p class="force-text">{{ item.shortDescription }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pagination [totalItems]="productsArray.length" (pageChanged)="pageChanged($event)" [boundaryLinks]=true>
    </pagination>
</div>