.container {
    margin: 0;
    padding: 0;
    max-width: 1280px;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.force-text {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   line-height: 3ex;
   height: 9ex; /* 2.5ex for each visible line */
}

.suggestions, .filter-price, .product {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Start suggestions with logo */
.suggestions-list-inline, .filter-price-list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestion-list-item > a, .filter-price-item > a{
    text-decoration: none;
}

.suggestions-list-item {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 0 24px;
}
/* End */

/* Start filter price */
.filter-price-title, .filter-price-list-inline, .filter-price-item {
    display: inline-block;
}

.filter-price-item > a {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #e7edf1;
    color: black;
}

.filter-price-item > a:hover {
    background-color: #333;
    color: white;
}

.filter-price-item {
    margin: 0 8px;
}
/* End */

/* Start product */
.product-info {
    padding-left: 10px;
    padding-right: 10px;
}

.has-top-border {
    border-top: 1px solid #dddddd;
    padding: 20px 0 10px 0;
}

.product-type {
    padding-bottom: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-bottom: 6px solid #333;
}

.product-item {
    display: inline-block;
}

.shadow {
    border: 1px solid #f4f4f4;
    cursor: pointer;
}

.product-thumbnail > img {
    width: 200px;
    display: block;
    margin: auto;
    transition: 1s ease;
}

.product-thumbnail > img:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s ease;
}

.product-info > p {
    word-wrap: break-word;
}

.product-info > h5 {
    color: red;
}

.product-title > a:hover {
    color: #007bff;
}

.product-title, .price {
    text-align: center;
}
