<div class="container">
    <carousel>
        <slide *ngFor="let banner of banners">
            <img [src]="banner.url" alt="slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <div class="suggestions">
        <p>Một số gợi ý dưới đây có thể giúp bạn tìm sản phẩm nhanh hơn...</p>
        <div *ngIf="isFetchingLogo">Loading...</div>
        <ul class="suggestions-list-inline">
            <li style="cursor: pointer;" (click)="setFilter(brand.brandName)" *ngFor="let brand of showBrands"
                class="suggestions-list-item"><img [src]="brand.image.url" [alt]="brand.brandName"></li>
        </ul>
    </div>

    <div class="filter-price">
        <label class="filter-price-title">Chọn mức giá:</label>
        <ul class="filter-price-list-inline">
            <li (click)="setFilter('>0tr')" class="filter-price-item"><a style="cursor: pointer;">Dưới 10 triệu</a></li>
            <li (click)="setFilter('>10tr')" class="filter-price-item"><a style="cursor: pointer;">10 - 15 triệu</a>
            </li>
            <li (click)="setFilter('>15tr')" class="filter-price-item"><a style="cursor: pointer;">15 - 25 triệu</a>
            </li>
            <li (click)="setFilter('>25tr')" class="filter-price-item"><a style="cursor: pointer;">Trên 25 triệu</a>
            </li>
        </ul>
    </div>

    <div *ngIf="!isFetchingProduct" class="product has-top-border">
        <h6 class="product-type">Laptop</h6>
        <div class="filter-name my-2 mt-2">
            <span class="fa fa-search"></span><input [(ngModel)]='searchString' type="text"
                placeholder="Nhập tên sản phẩm">
        </div>
        <div class="block-content row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-xs-2 row-cols-2">
            <div class="product-item my-2"
                *ngFor="let item of onePageArray | productFilter: filterString:brandNameArray | searchFilter: searchString">
                <div [routerLink]="['/detail', item.id]" class="mx-2 shadow">
                    <a class="product-thumbnail">
                        <img *ngIf="haveThumbnail(item.images)" [src]="loadThumbnail(item.images)" alt="product">
                        <p *ngIf="!haveThumbnail(item.images)">Chưa có hình ảnh</p>
                    </a>
                    <div class="product-info">
                        <h6 class="product-title"><a [routerLink]="['/detail', item.id]">{{ item.productShortName }}</a>
                        </h6>
                        <h5 class="price">{{ item.price | number}} đ</h5>
                        <p class="force-text">{{ item.shortDescription }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div
            *ngIf="(onePageArray | productFilter: filterString:brandNameArray | searchFilter: searchString).length === 0">
            Không có sản phẩm phù hợp với kết quả tìm kiếm. <br>
            <button class="btn btn-info mt-2" (click)="setFilter('')">Trở lại danh sách đầy đủ</button>
        </div>
    </div>

    <div *ngIf="isFetchingProduct">
        <h1>Loading...</h1>
    </div>

    <div>
        <pagination class="justify-content-center" [totalItems]="productsArray.length" (pageChanged)="pageChanged($event)" [boundaryLinks]=true>
        </pagination>
    </div>
</div>