* {
    box-sizing: border-box;
  }

  .user-account-form {
    margin-bottom: 34px;
    margin-top: 34px;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .user-account-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-transform: uppercase;
  }
  
  .user-account-btn:hover {
    opacity: 1;
  }

  .user-account-btn:disabled, input:disabled {
    opacity: 0.5;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    text-align: center;
  }

  .required {
    color: red;
  }

  .form-row {
    margin-bottom: 10px;
  }

  .text-decoration-none {
      color: #212529;
  }

  .text-decoration-none:hover {
      color: #27bece;
  }

  .tab-item {
    border: 1px solid #dee2e6;
    border-top: 1px solid transparent;
  }

  .inline-text {
    white-space: nowrap;
  }

  