<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="row py-3">
            <div class="col-lg-8">
                <!-- Button -->
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Danh sách thương hiệu sản phẩm</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                                aria-controls="collapseBasic" type="button"
                                class="btn btn-sm btn-outline-secondary">Thêm
                                thương hiệu</button>
                        </div>
                    </div>
                </div>

                <!-- Thêm thương hiệu -->
                <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                    <div class="well well-lg card card-block card-header">
                        <div class="col-md-8 offset-md-2 order-md-1">
                            <h4 class="mb-3">Thêm thương hiệu sản phẩm</h4>
                            <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Tên thương hiệu: </label>
                                    <div class="col-sm-8"><input formControlName="brandName" type="text"
                                            class="form-control" id="brandName"></div>
                                    <div *ngIf="brandForm.get('brandName').touched && !brandForm.get('brandName').valid"
                                        class="invalid-feedback">
                                        Tên thương hiệu không được để trống
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Xác nhận tạo thương hiệu
                                    mới</button>
                            </form>
                        </div>
                    </div>
                </div>

                <h6>Tổng số nhãn hiệu: {{brands.length}}</h6>
                <!-- Table -->
                <div *ngIf="!isFetchingBrands" class="table-responsive m-b-40">
                    <table class="table table-borderless table-striped">
                        <thead class="thead-custom">
                            <tr>
                                <th>#</th>
                                <th>Tên thương hiệu</th>
                                <th>Logo thương hiệu</th>
                                <th class="text-center">Tổng loại sản phẩm</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let brand of brands">
                                <td>{{ brand.id }}</td>
                                <td>{{ brand.brandName }}</td>
                                <td *ngIf="!brand.image">Chưa có hình ảnh</td>
                                <td *ngIf="brand.image"><img [src]="brand.image.url" alt="brand image"></td>
                                <td class="text-center">{{ brand.products.length }}</td>
                                <td class="text-right btn-group">
                                    <button *ngIf="!brand.image"
                                        (click)="openModalWithBrandImageModalComponent(brand, false)"
                                        class="btn btn-item">
                                        <i class="fa fa-file-image-o fa-lg"></i>
                                    </button>
                                    <button *ngIf="brand.image"
                                        (click)="openModalWithBrandImageModalComponent(brand, true)"
                                        class="btn btn-item">
                                        <i class="fa fa-file-image-o fa-lg"></i>
                                    </button>
                                    <button (click)="openModalWithBrandUpdateModalComponent(brand)"
                                        class="btn btn-item">
                                        <i class="fa fa-wrench fa-lg"></i>
                                    </button>
                                    <button (click)="onDelete(brand.id)" class="btn btn-item">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="isFetchingBrands && !errorMessage">Loading...</div>
                <div *ngIf="errorMessage">{{ errorMessage }}</div>
            </div>
            <div class="col-lg-4">
                <app-brand-chart></app-brand-chart>
            </div>
        </div>
    </main>
</div>