.topbar {
    top: 0;
    min-width: 1024px;
    background: #333;
    width: 100%;
}

.wrap-main {
    margin: auto;
    max-width: 1280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li input {
    padding: 10px 12px;
    margin-top: 4px;
}

.count-cart {
    position: absolute;
    color: #222;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}