<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>Epic Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
            aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Tìm kiếm gì đó..." aria-label="Search">
                    <button class="btn btn-outline-light m-2 my-sm-0" type="submit">Search</button>
                </form>
                <li *ngIf="!isAuthenticated()" class="nav-item dropdown" dropdown>
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" dropdownToggle>
                        <i class="fa fa-user-o"></i>
                    </a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" routerLink='/register'>Đăng kí tài khoản</a>
                        <a class="dropdown-item" routerLink='/login'>Đăng nhập</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated() && isAdmin()" dropdown>
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" dropdownToggle>
                        Xin chào {{ getUsername() }}
                    </a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" routerLink='/admin'>Trang quản lý</a>
                        <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated() && !isAdmin()" dropdown>
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" dropdownToggle>
                        Xin chào {{ getUsername() }}
                    </a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" routerLink='/user/account'>Tài khoản</a>
                        <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/order" role="button">
                        <span class="fa fa-shopping-cart fa-lg"></span><span class="cart-count">{{cartCount}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>