.container {
    max-width: 1280px;
}

.bg-dark {
    background-color: #333 !important;
}

.cart-count {
    margin-left: 5px;
    background: red;
    border-radius: 30px;
    font-size: 12px;
    padding: 0 4px;
    color: white;
    margin-top: -10px;
}

li > #navbardrop, .dropdown-menu > .dropdown-item {
    cursor: pointer;
}

#collapseBasic {
    flex-basis: 100%;
}